<p id="notice"><%= notice %></p>


<div class="detailsForm customerForm">
                <table>
           <tr>
        <th><label >NIP</label>:</th>
        <td ><%= @client.NIP %></td>
          </tr>
        <tr>
        <th><label >Imie i nazwisko lub nazwa firmy:</label>:</th>
        <td ><%= @client.name %></td>
          </tr>
       <th><label>Adres</label>:</th>
        <td ><%= @client.address %></td>
          </tr>
        <tr>
        <th><label >Mailing address:</label>:</th>
        <td ><%= @client.mailing_address %></td>
          </tr>
        <th><label>Termin</label>:</th>
        <td ><%= @client.term %></td>
          </tr>
        <tr>
        <th><label >Uwagi:</label>:</th>
        <td ><%= @client.notes %></td>
          </tr>
</table>
<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
